.App {
  text-align: center;
  height: 100vh;
  background-image: url(images/pink_flowers_cropped.jpg);
  background-size:1920px 100vh;
  background-color: #fc5874;
}

.navbar {
  background-color: #fc5874;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.carousel {
  margin-top: 18vh;
}

.jumbotron {
  margin-top: 10vh;
}

.card {
  margin: 3vh;
  margin-top: 25vh;
}
